https://github.com/KurimuzonAkuma/pyrogram/archive/dev.zip
TgCrypto
requests
replicate
ufiles
python-dotenv
pymongo
python-multipart
pydantic
uvicorn
aiosqlite
beanie
motor
logfire
aiohttp
librosa
soundfile
pydub
praat-parselmouth
numpy